# .env.example file

# Discord Bot
DISCORD_TOKEN=DISCORD_TOKEN
CLIENT_ID=CLIENT_ID
DEVELOPER_ID=DEVELOPER_ID

# Guild for testing
DEV_GUILD_ID_1=DEV_GUILD_ID_1

# Database Information (Supabase or MongoDB)
# <Your Info>
# <Your Info>

# Environment (development, production)
NODE_ENV=development